@import "_var";

body {
	margin: 0;
	padding: 0;
	background-color: @white;
	font-size: 14px;
	font-family: @os;
	color: @gray;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

.container {
	width: 1110px;
	padding: 0 15px;
	margin: 0 auto;
}



@import "sections/_header";
@import "sections/_intro";
@import "functional/_form";
@import "functional/_btn";
@import "sections/_section";
@import "sections/_social";
@import "sections/_tabs";
@import "sections/_standard";
@import "functional/_list";
@import "sections/_features";
@import "sections/_pricing";